.title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.about {
  font-size: 19px;
  text-align: justify;
  padding: 3%;
  margin: 0;
}

.card {
  width: fit-content;
  display: flex;
}
