.title {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.about {
  font-size: 19px;
  text-align: justify;
  padding: 6%;
  margin: 0;
}

.photos {
  width: 50%;
  text-align: center;
  margin-left: 25%;
}
