:root{
    --ion-background-color: #f4fcf8;
}

.marginHome{
    margin: 20px;
}

.options{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.logo{
    text-align: center;
}

.title{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.header{
    background-color:#AE2670;
}